@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 48px;
  }

  html {
    @apply bg-background font-sans text-off-white;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-indigo-500 to-violet-500;
  }
}

@layer utilities {
  .glow-gradient {
    background: radial-gradient(
      ellipse 80% 50% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      transparent
    );
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }

  .bg-hero-image {
    background-image: radial-gradient(
        ellipse 50% 80% at 20% 40%,
        rgba(93, 52, 221, 0.1),
        transparent
      ),
      radial-gradient(
        ellipse 50% 80% at 80% 50%,
        rgba(120, 119, 198, 0.15),
        transparent
      );
    background-color: rgba(255, 255, 255, 0.01);
  }

  .hero-glow {
    background: conic-gradient(from 230.29deg at 51.63% 52.16%, rgb(36, 0, 255) 0deg, rgb(0, 135, 255) 67.5deg, rgb(108, 39, 157) 198.75deg, rgb(24, 38, 163) 251.25deg, rgb(54, 103, 196) 301.88deg, rgb(105, 30, 255) 360deg);
  }
}
