@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 48px;
  }

  html {
    @apply bg-background font-sans text-off-white;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-indigo-500 to-violet-500;
  }
}

@layer utilities {
  .glow-gradient {
    background: radial-gradient(
      ellipse 80% 50% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      transparent
    );
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }
}
